@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-family: Geneva, Tahoma, "Nimbus Sans L", sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
}

.Card{
	@apply w-72 h-96 flex-none shadow-md rounded-lg transform transition-all hover:-translate-y-4 hover:shadow-xl 
}
